@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Mulish", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-color: #3494e4;
  color: #fff;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

p {
  display: block;
  margin: 15px;
  font-size: 1.2rem;
  font-weight: 300;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .goal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0px;
}

.wrapper .goal-header input {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1.1rem;
  text-align: center;
  color: #3494e4;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(51, 51, 51, 0.3);
          box-shadow: 1px 1px 2px 2px rgba(51, 51, 51, 0.3);
}

.wrapper .goal-header #goal_output {
  margin-left: 10px;
  display: none;
}

.wrapper .goal-header .goal-change {
  display: none;
}

.wrapper .goal-header button {
  background: transparent;
  border: none;
  outline: none;
}

.wrapper .goal-header button i {
  font-size: 1.2rem;
  padding: 10px;
  cursor: pointer;
  color: #fff;
}

.goal-header.filled input {
  display: none;
}

.goal-header.filled #goal_output {
  display: inline-block;
}

.goal-header.filled .goal-conf {
  display: none;
}

.goal-header.filled .goal-change {
  display: block;
}

.water-cont {
  height: 320px;
  width: 150px;
  background-color: #69b4f1;
  color: #3494e4;
  border: 3px solid #1679ca;
  border-top: none;
  border-radius: 8px 8px 45px 45px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

.water-empty, .water-filled {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #1679ca;
  overflow: hidden;
  line-height: 1;
}

.water-empty {
  height: 100%;
}

.water-filled {
  background-color: #69b4f1;
  height: 0%;
  font-size: 1.4rem;
}

.glass-cont {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.water-glass {
  background-color: #fff;
  border-width: 2px;
  cursor: pointer;
  margin: 10px;
  height: 80px !important;
  width: 50px !important;
  border-radius: 5px 5px 15px 15px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.active {
  background-color: #69b4f1;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */